# **Pandas Series Practice Excercises**


A pandas Series is a one-dimensional array. It holds any data type supported in Python and uses labels to locate each data value for retrieval. These labels form the index, and they can be strings or integers. A Series is the main data structure in the pandas framework for storing one-dimensional data.

**Common methods used with Pandas Series**


*.head(), .name(), .to_frame(), .reset_index(), isin(), .valuecounts(), .index(), .qcut(), .reshape(), .take(), .append(), .tolist(), .get_loc(), .map(), .diff()*


---


Please refer to the [Pandas Series Documentation](https://pandas.pydata.org/docs/reference/api/pandas.Series.html) for a full list of methods and how to implement them.

To complete the problems below we first need to import the Pandas and Numpy libraries. If you haven't already installed them, use pip or conda to install them globally or in your virtual environment.


* The common alias for pandas is pd.  
* The common alias for numpy is np.

In [32]:
#pip install pandas
#pip install numpy 

import pandas as pd
import numpy as np

**Problem 1**

We can easily convert lists, tuples, dictionaries and numpy arrays into a Pandas Series by directly passing the python object as an arguement to the Series() constructor. We have used the alias pd in the cell above, so we will use pd.Series() to construct our Series object. 



*  Convert the 3 objects below into 3 seperate Pandas Series objects.
*  Use the .head() method to see the first 5 items in each Series

In [33]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser1= pd.Series(mylist)
#ser1.head(20)

ser2= pd.Series(myarr)
#ser2.head()

ser3= pd.Series(mydict)
ser3.head(27)
print(ser3)

my_name= ('hellosam','rockey','john')
sern= pd.Series(my_name)
sern

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int32

0    hellosam
1      rockey
2        john
dtype: object

**Problem 2**

We can give a name to our Pandas series as a parameter of our Constructor method. 

*   Use the name parameter to add 'alphabet' as the name of our series.
*   Use the .head() method to see the name of our Series displayed

In [34]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'), name= 'alphabet')
print(ser)
ser.head()
sern= pd.Series(my_name,name='persons')
sern

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: alphabet, dtype: object

0    hellosam
1      rockey
2        john
Name: persons, dtype: object

**Problem 3**

We can also add a name to the series after it is created using the .name() method on our Series object.



*   Use the .name attribute to add the name 'alphabet1' to the Series object after it has been created.
*   Use the .head() method to verify

In [35]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name= 'alphabet1'
ser.head()

sern.name='persons'
sern.head()

0    hellosam
1      rockey
2        john
Name: persons, dtype: object

**Problem 4**

We can use mathematic operators to perform calculations on two or more series.

*   Create a new object that adds the two series below
*   Create a new object that subtracts the two series below
*   Create a new object that multiplies the two series below
*   Create a new object that divides the two series below

Make sure you display your outputs.

In [36]:
# ser1= pd.Series([2, 4, 6, 8, 10])
# ser2= pd.Series([1, 3, 5, 7, 9])
# ser3 = ser1.add(ser2)
# ser4 = ser1.subtract(ser2)
# ser5 = ser1.multiply(ser2)
# ser6 = ser1.divide(ser2)
# print(ser3)
# print(ser4)
# print(ser5)
# print(ser6)

a1= pd.Series([3,5,7,9,11])
b1= pd.Series([2,4,6,8,10])
c1= a1.add(b1)
c1
d1= a1.subtract(b1)
d1

0    1
1    1
2    1
3    1
4    1
dtype: int64

**Problem 5**

We can use comparison operators to compare elements of two Series.

Use the series below to perform the following:


*   Check if the elements in ser1 are equal to the elements in ser2
*   Check if the elements in ser1 are greater than the elements in ser2
*   Check if the elements in ser1 are less than the elements in ser2

In [37]:
ser1= pd.Series([2, 4, 5, 8, 10])
ser2= pd.Series([1, 3, 5, 7, 10])
print(ser1==ser2)
print(ser1>ser2)
print(ser1<ser2)

0    False
1    False
2     True
3    False
4     True
dtype: bool
0     True
1     True
2    False
3     True
4    False
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool

**Problem 6**

We can add additional elements to our Pandas Series. Use the Series below to peform the following:


*   Create a new Series by using the .append() method to add 'penguin' and 'lion' to the Series object
*   Use the .reset_index() method to reset the index values. 

(Both steps can be done in one line)

In [38]:
ser= pd.Series(['cat', 'dog', 'elephant', 'frog'])
ser1 = pd.Series(['lion','penguin'])
ser2 =ser._append(ser1)
print(ser2)

0         cat
1         dog
2    elephant
3        frog
0        lion
1     penguin
dtype: object

**Problem 7**

We can customize the index of our Series by using the 'index' paramater in our Series constructor. Use the Series below to peform the following:


*   Set the index to ['A', 'B', 'C', 'D']
*   Use the .reindex() method after the Series object is created to change the order of the index to ['B', 'A', 'D', 'C']

In [39]:
ser= pd.Series(['cat', 'dog', 'elephant', 'frog'], index=['A','B','C','D']).reindex(index=['B','A','D','C'])
print(ser)

B         dog
A         cat
D        frog
C    elephant
dtype: object

**Problem 8**

Find the elements in the first series (ser1) not in the second series (ser2).


*   Use the single square bracket notation and the .isin() method with ser1 to remove the items present in ser2. This will leave us with only the itmes not present in ser2.

In [40]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser=ser1[~ser1.isin(ser2)]
print(ser)

0    1
1    2
2    3
dtype: int64

**Problem 9**

Use the Series below to peform the following:
*   Use a built-in Pandas method to find the mean of the Series
*   Use a built-in Pandas method to find the standard deviation of the Series

In [41]:
ser= pd.Series(data = [1,2,3,4,5,6,7,8,9,5,3])
print(ser.mean())
print(ser.std())

4.818181818181818
2.522624895547565

**Problem 10**

Find the elements in both series that are not in common (remove them if they exist in both).

*   Create a new Series using np.union1d()
*   Create a new Series using np. intersect1d()
*   Use single square bracket notation and the .isin() method to find the final result

In [42]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser3 = pd.Series(np.union1d(ser1,ser2))
print(ser3)
ser4 = pd.Series(np.intersect1d(ser1,ser2))
print(ser4)
ser5 = ser3[~ser3.isin(ser4)]
print(ser5)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64
0    4
1    5
dtype: int64
0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

**Problem 11**

Find the minimum, max, 25th percentile, and 75th percentile in the series.

*   Use np.percentile to find the percentiles above

In [43]:
ser = pd.Series(np.random.normal(10, 5, 25))
ser.min()
ser.max()
np.percentile(ser,25)
np.percentile(ser,75)
np.percentile(ser,q =[25,75])

array([ 6.33429932, 14.54729566])

**Problem 12**

Obtain the count of each unique item in the series.


*   Use the .value_counts() method to find the frequency count of each unique item

In [44]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

f    7
e    6
c    5
b    5
h    3
a    2
d    1
g    1
Name: count, dtype: int64

**Problem 13**

Keep the two most frequent items in the series and change all items that are not those two into "Other".



*   Use .isin(), .valuecounts(), and .index() to complete the task above

In [45]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print(ser)
ser.value_counts().index()

0     3
1     2
2     2
3     4
4     4
5     2
6     4
7     4
8     3
9     4
10    3
11    4
dtype: int32

TypeError: 'Index' object is not callable

**Problem 14**

Bin the series below into 10 equal deciles and replace the values with the bin name.

*   Use the .qcut() method to complete the task

In [ ]:
ser = pd.Series(np.random.random(20))
pd.qcut(ser,10,)

0      (0.837, 0.942]
1       (0.61, 0.657]
2      (0.339, 0.462]
3      (0.942, 0.971]
4     (0.0299, 0.169]
5      (0.657, 0.837]
6      (0.273, 0.339]
7      (0.273, 0.339]
8      (0.339, 0.462]
9      (0.971, 0.997]
10    (0.0299, 0.169]
11     (0.657, 0.837]
12     (0.942, 0.971]
13     (0.837, 0.942]
14      (0.61, 0.657]
15     (0.971, 0.997]
16      (0.462, 0.61]
17      (0.462, 0.61]
18     (0.169, 0.273]
19     (0.169, 0.273]
dtype: category
Categories (10, interval[float64, right]): [(0.0299, 0.169] < (0.169, 0.273] < (0.273, 0.339] < (0.339, 0.462] ... (0.657, 0.837] < (0.837, 0.942] < (0.942, 0.971] < (0.971, 0.997]]

**Problem 15**

Find the positions of numbers that are multiples of 3 from Seriees below.

*  Use np.argwhere() to complete the task

In [ ]:
ser = pd.Series(np.random.randint(1, 10, 7))
print(ser)
np.argwhere(ser %3==0)

0    2
1    9
2    5
3    1
4    6
5    9
6    1
dtype: int32

array([[1],
       [4],
       [5]], dtype=int64)

**Problem 16**

From ser, extract the items at positions in list pos.

*   Use the .take() method to complete the task

In [ ]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

**Problem 17**

Stack ser1 and ser2 vertically.

*   Use the .append() method to complete the task

In [ ]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
ser1._append(ser2)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

**Problem 18**

Get the positions of items of ser2 in ser1 as a list.

*   Use list comprehension, pd.Index, and .getloc() to complete the task

In [ ]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
list = [pd.Index(ser1).get_loc(num) for num in ser2 ]
print(list)

[5, 4, 0, 8]

**Problem 19**

Change the first character of each word to upper case in each word of ser.

*   Use the .map() method combined with a string method to complete the task

In [ ]:
ser = pd.Series(['how', 'to', 'kick', 'butt?'])
ser.map(lambda x:x[0].upper()+ x[1:])

0      How
1       To
2     Kick
3    Butt?
dtype: object

**Problem 20**

Calculate the number of characters for each element in the series.

*   Use the .map() method combined with a method to find the length of the string to complete the task.

In [ ]:
ser = pd.Series(['how', 'to', 'kick', 'butt?'])
ser.map(lambda x:len(x))

0    3
1    2
2    4
3    5
dtype: int64

**Problem 21**

Caluculate the difference of differences between the consequtive numbers of ser. Dislplay the output as a list.

*   Use the .diff() method to the complete the task

In [ ]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
ser.diff()

0    NaN
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    6.0
7    8.0
dtype: float64

**Problem 22**

Convert the date-strings to a timeseries.

*   use the .to_datetime() method to complete the task

In [ ]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
pd.to_datetime(ser)

ValueError: time data "02-02-2011" doesn't match format "%d %b %Y", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

**Problem 23**

From dateutil.parser import the parse method to use for the following:

*   Create a new object using the .map() method to parse ser
*   Create a new list of all the days of the month using the .dt.day() methods from the parsed series
*   Create a new list of all the weeks of the year using the .dt.weekofyear() methods from the parsed series
*   Create a new list of all of the days of the year using the dt.dayofyear() methods from the parsed series
*   Create a new list of all the days of the week using the dt.weekday_name() methods from the parsed series

In [ ]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

**Problem 24**

From ser, extract words that contain at least 2 vowels.

In [46]:
from collections import Counter
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

list = ser.map(lambda x: sum([Counter(x.lower().get(i,0) for i in list('aeiou'))])>=2)

AttributeError: 'str' object has no attribute 'get'

**Problem 25**

Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference.

In [99]:
import re
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
list =[]
for email in emails:
    if re.search(pattern,email):
        list.append(email)
print(list )

['rameses@egypt.com', 'matt@t.co', 'narendra@modi.com']

**Problem 26**

Compute the mean of weights of each fruit.

In [101]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())
#examples
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['carrot', 'banana', 'apple', 'banana', 'banana', 'carrot', 'banana', 'carrot', 'apple', 'banana']

**Problem 27**

Replace the spaces in my_str with the least frequent character.

In [111]:
my_str = 'dbc deb abed gade'
list1 = []
ser = pd.Series(list1(my_str))
print(ser)
element_fer= ser.value_counts()
print(element_fer)

TypeError: 'list' object is not callable

Problem 28

Create a timeseries starting at ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values.

In [113]:
dates = pd.date_range('2000-01-01', periods=10,freq='W-SAT')
values = np.random.randint(0,10,size=10)
ser = pd.Series(values,index=dates)
print(ser)

2000-01-01    2
2000-01-08    5
2000-01-15    9
2000-01-22    3
2000-01-29    3
2000-02-05    8
2000-02-12    8
2000-02-19    9
2000-02-26    9
2000-03-04    3
Freq: W-SAT, dtype: int32

Problem 29

Series ser has missing dates and values. Make all missing dates appear and fill up with value from previous date.

*   Use .resample() and .ffill() to complete the task

In [114]:
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser)
#> 2000-01-01     1.0
#> 2000-01-03    10.0
#> 2000-01-06     3.0
#> 2000-01-08     NaN
#> dtype: float64

2000-01-01     1.0
2000-01-03    10.0
2000-01-06     3.0
2000-01-08     NaN
dtype: float64